In [1]:
import numpy as np
import pandas as pd

In [5]:
vcommerce_sellers = pd.read_csv('vcommerce_sellers.csv', sep=',')
vcommerce_marketing_qualified_leads = pd.read_csv('vcommerce_marketing_qualified_leads.csv', sep=',')
vcommerce_deals = pd.read_csv('vcommerce_deals.csv', sep=',')

In [7]:
vcommerce_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [8]:
vcommerce_marketing_qualified_leads.head()

                             mql_id first_contact_date          origin
0  dac32acd4db4c29c230538b72f8dd87d           2/1/2018          social
1  8c18d1de7f67e60dbd64e3c07d7e9d5d         10/20/2017     paid_search
2  b4bc852d233dfefc5131f593b538befa          3/22/2018  organic_search
3  6be030b81c75970747525b843c1ef4f8          1/22/2018           email
4  5420aad7fec3549a85876ba1c529bd84          2/21/2018  organic_search

In [9]:
vcommerce_deals.head()

,mql_id,seller_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,closed_deal
0,000dd3543ac84d906eae52e7c779bb2a,4e0d109ccfba9a1151c103049880c857,4/24/2018 3:00,home_decor_furniture,industry,cat,NaN,NaN,NaN,manufacturer,0.0,0.0,Yes
1,009ff90f082aaa9fcd6e14caf65c7cc6,710e3548e02bc1d2831dfc4f1b5b14d4,NaN,car_accessories,online,cat,NaN,NaN,NaN,reseller,0.0,0.0,No
2,00dc5000951c268cc8655294daf67b1b,bbf9ad41dca6603e614efcdad7aab8c4,7/10/2018 11:34,home_decor_furniture,online,cat,False,False,20-50,reseller,0.0,0.0,Yes
3,010ed37e44e2fdc175b4c5c6c930805a,fad44952713764836814be105382aee5,NaN,audio_video_electronics,online,cat,True,True,May-20,reseller,70.0,250000.0,No
4,012fa44d6752ee07c167165cb8c6f11c,2e2f44824ab87a0cb961f68bf4073e7f,NaN,home_decor_furniture,online,wolf,NaN,NaN,NaN,manufacturer,0.0,0.0,No